@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

// reset rule
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

//generic body styles
body
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

//whole calculator container
.calculator   
{
  max-width: 400px;
  width: 50vw;
  height: auto;
  border-radius: 20px;
  background-color: rgb(58, 55, 55);

  //calculator textbox
  &__input
  {
    overflow: auto; //TODO: keep scrolling right when there are too many digits on the screen
    outline: none;
    background: none;
    border: none;  
    padding: 10px;
    width: 100%;
    border-bottom: 2px solid white;
    color: white;
    text-align: right;
    font-size: 4vw;
  }

  //container for buttons
  &__buttons 
  {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  
    //individual buttons
    .calculator__button  
    {
      background: rgba(0, 0, 0, 0.5);
      padding: 2vw;
      height: auto;
      color: white;
      border-radius: 50px;
      font-size: 2vw;
      cursor: pointer;
    
      &:hover {background: limegreen;}
    }
    
    //more specific button styles
    .light 
    {
      background: lightgray; 
      color: black;

      &:hover {color: white;}
    }    
    .orange {background: orange;}    
    #calculator__button- {&0 {grid-column: 1/ span 2;}} //1 button taking up space of 2
  }
}